@import "tailwindcss";
@plugin "daisyui" {
  themes: retro;
}

/* body {
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 50%;
  margin: 0 auto;
}

.layout {
  display: flex;
}

.navbar {
  border: solid 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-list {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20%;
  border: solid 1px black;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.default-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.note-data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
} */

/* Media Queries */

/* @media (max-width: 400px) {
  main {
    width: 95%;
  }

  .layout {
    flex-direction: column;
  }

  .sidebar {
    flex-direction: row;
    width: 100%;
  }

  .sidebar ul {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
} */
